html, body {
  background: #eeeeee;
}

.btn{
  background-color: #175c9c;
  border: 0;
  font-size: 24px;
  color: #ffffff;
  width: 5rem;
  border-radius: 10px;
  align-items: center;
  margin: 1rem;
}
.btn:hover{
  background-color: #327abd;
}

.resumeListItem{
  width: 90%;
  height: 3rem;
  border-radius: 5px;
  background-color: #ffffff;
  align-items: center;
  box-shadow: 5px 5px 5px #00000005;
  padding-left: 1px;
  margin: 10px;
}

.recentResumeList{
  
}

.recentResume{
  width: 10rem;
  text-align: center;
}

.rectangle {
  display: inline-block;
  width: 100px;
  height: 150px;
  background: #ffffff;
  box-shadow: 5px 5px 5px #00000005;
}

.recentResumeTitle{
  margin-top:0;
}

.addRectangle{
  display: inline-block;
  width: 100px;
  height: 150px;
  background: #ffffff52;
  stroke-width: 2px;
  stroke: #808080;
  box-shadow: 5px 5px 5px #00000010;
}